<div><h1>投稿一覧</h1></div>
<div class="d-flex align-items-center">
    <!-- <div>
    <ul class="photo">
    <li>
    <%= image_tag 'logo.png', class:'test'%>
    <p>編集</p>
    </li>
    <li>
    <%= image_tag 'logo.png', class:'test'%>
    </li>
    </ul>
    <ul class="photo2">
    <li>
    <%= image_tag 'logo.png', class:'test'%>
    </li>
    <li>
    <%= image_tag 'logo.png', class:'test'%>
    </li>
    </ul>
    </div> -->
    <% @users.each do |user| %>
      <%= image_tag user.image_url(:thumb).to_s %>
      <p><%= link_to "[編集]", edit_user_path(user), method: :get %></p>
      <p> | <p>
      <p><%= link_to "[削除]", user_path(user), method: :delete, data: {confirm: "削除しますか？"} %></p>
    <% end %>
</div>
